<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <variable name="LogFileName" value="Output"/>
    <variable name="LogFileExtension" value="txt"/>

    <targets async="false">
      <target name="flatFileTarget" xsi:type="File"
              layout="${message}"
              fileName="${LogFileName}.${LogFileExtension}"
              archiveFileName="${LogFileName}.{#####}.${LogFileExtension}"
              archiveAboveSize="500000" maxArchiveFiles="10"
              archiveNumbering="Rolling"
              createDirs="true"
              concurrentWrites="false"
              archiveEvery="Day"
              deleteOldFileOnStartup="false" />
    </targets>

    <rules>
      <logger name="*" writeTo="flatFileTarget" />
    </rules>

  </nlog>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
</configuration>
